[2020-05-29 09:10] karx opened #542 "Unkown ALI_amc_mesh_compression"
I came across this awesome Git [repository](https://github.com/06wj/pokemon) with the first 151 pokemon's glTF models. Incredible ain't it.

Unfortunately, the glTF models are compressed using `ALI_amc_mesh_compression `.
I was able to find the following about the `ALI_amc_mesh_compression` part of `AliAMCExtension` which I was able to trace to [Hilo3D lib](https://hilo3d.js.org/docs/loader_GLTFEx

[2020-06-03 17:19] WilsonAndrewWilson commented on #525
Hi all, can I add a +1 for an windows executable (not sure if pkg could be used with it to create one..I'm utter trash with node I'm afraid).
Use case:  higher education institution, and we wish to roll this out to multiple users with managed PCs(no admin rights etc).  Central IT will not install npm etc on the user's PCs, but will consider packaging an exe for deployment.  Thank you!

[2020-06-03 18:27] gabrieljbaker commented on #506
Curious about this as well!

[2020-06-04 08:00] #515 closed

[2020-06-05 11:49] mikejernil commented on #261
Is there any progress tracker available with gltf-pipeline now. I'm doing compression on a server. So in dire need of it.

[2020-06-08 14:25] petrbroz commented on #438
+1

This is a great utility, but the size of the `cesium` dependency is becoming an issue when trying to keep the bundled output under control (e.g., for a vscode extension).

[2020-06-09 02:58] white500 opened #543 "Cannot read property 'byteStride' of undefined"
I executed the command GLTF-pipeline-I model. glb-o model. GLTF, and the compressed file was used to report an error in the Aude map
Error message: Cannot read property 'byteStride' of undefined

[2020-06-09 02:59] white500 commented on #543
Thank you for taking a look！

[2020-06-09 02:59] white500 commented on #543
![image](https://user-images.githubusercontent.com/37032819/84101351-5215a300-aa40-11ea-989b-4eac117e65a7.png)

[2020-06-09 03:12] lilleyse commented on #543
@white500 are you able to share the model?

[2020-06-11 06:08] white500 commented on #543
[amap.zip](https://github.com/CesiumGS/gltf-pipeline/files/4762892/amap.zip)
@lilleyse  Thank you!

[2020-06-12 02:39] white500 commented on #543
I'd like to make sure， Did I use it incorrectly？ Thank you very much.

[2020-06-12 03:39] lilleyse commented on #543
@white500 what's the exact command you're using? I tried two commands that both worked.

Also what version of gltf-pipeline are you using?

[2020-06-12 05:41] white500 commented on #543
The compression will succeed, but the compressed file will report an error when used in Amap

[2020-06-12 05:48] white500 commented on #543
Please take a look at the HTML I sent.
Use huangdraco.glTF.
You can see the error message in the console
@lilleyse

[2020-06-12 05:49] white500 commented on #543
I'm sorry my English is really poor, and I didn't describe it clearly, hhhh

[2020-06-12 13:38] lilleyse commented on #543
@white500 You should check if AMap supports loading the Draco extension. I don't think this issue is related to gltf-pipeline.

[2020-06-12 18:37] lanminik opened #544 "Ater compression loading of gltf fails in Cesium"
I have .gltf file (~5.5MB) that loads in cesium with no problems. After compression loading fails and this is the error that I get:

<img width="922" alt="Untitled" src="https://user-images.githubusercontent.com/40787720/84535442-1e5ea580-acec-11ea-82e4-2820b70cc8ce.png">

Tried to set compression level to 1 (instead default 7) but there is no difference, the errror is the same.
Cesium version 1.7

[2020-06-13 12:55] lilleyse commented on #544
@lanminik can you send over the glTF?

You can zip up the glTF and drop it into a github comment here. Or if you don't want to share it publicly you could email support@cesium.com and we'll pick it up from there.

[2020-06-15 09:00] white500 commented on #543
@lilleyse  Thank you for your advice! It means a lot to me.

[2020-06-15 15:06] Squareys commented on #506
Same here!
I think this is because gltf-pipeline only supports png or jpeg and therefore cannot handle the basis binary data or detect the format on it.

[2020-06-22 23:04] katSchmid commented on #417
Has this been solved already? Thanks

[2020-06-22 23:29] lilleyse commented on #417
@katSchmid I think so, thanks for the ping

[2020-06-22 23:29] #417 closed

[2020-06-26 02:02] JoelTrain commented on #382
Just tried omitting the `-d` option expecting it to decompress.
I went looking online when it didn't and found this.

I also would appreciate the ability to decompress using gltf-pipeline.

Is there another tool out there that decompresses gltf with Draco?

For now I will try the uncompressedFallback.

[2020-06-26 06:22] anupamdas2012 opened #545 "streaming support for gltf pipeline"
I built a gltf-pipeline service in Node. Problem is im deploying this as a cloud function in firebase. Temp files are limited to 2gb which means anything larger than that and the instance crashes. One way to limit the file sizes is to not write files to /tmp and rather maintain them in memory as file streams. Thats all good and fine except wondering if there is any plans for gltf-pipeline to suppo

[2020-07-01 16:42] zaaakk opened #546 "syntax error: unexpected token"
Can't use the compressor at all because of this error
after attempting to convert glb to gltf:
`SyntaxError: Unexpected token {
    at createScript (vm.js:74:10)
    at Object.runInThisContext (vm.js:116:10)
    at Module._compile (module.js:537:28)
    at Object.Module._extensions..js (module.js:584:10)
    at Module.load (module.js:507:32)
    at tryModuleLoad (module.js:470:12)
    at Function.

[2020-07-02 08:07] lantsang opened #547 "abort(TypeError: n[q[((q[(Ct >> 2)] + 20) >> 2)]] is not a function)"
Hi, I want to compress my gltf files with gltf-pipeline, but the terminal always report errors. Can anyone know about the reasons of the exception above?
the command was `gltf-pipeline -i model.gltf -o modelDraco.gltf -d`

[2020-07-06 13:37] mikejernil opened #548 "Runtime Error"
Getting this error in a nodejs server running gltf-pipeline to DRACO compress glb models. This specific error is thrown for only one specific model. What could this be related to?

`Error
    at new RuntimeError (/opt/node-compress-model1/node_modules/cesium/Build/CesiumUnminified/Cesium.js:6666:13)
    at /opt/node-compress-model1/node_modules/gltf-pipeline/lib/compressDracoMeshes.js:186:23
    a

[2020-07-06 13:50] lilleyse commented on #546
@zaaakk I'm not seeing this error. What version of Node are you using?

[2020-07-06 14:00] lilleyse commented on #547
@lantsang I'm not seeing this error. What version of Node are you using?

[2020-07-06 17:50] lilleyse commented on #548
@mikejernil This might be an error in the draco library itself. Could you post the glTF here so we can confirm?

[2020-07-07 07:18] lantsang commented on #547
Hi, lilleyse, the node version is 12.18.2 LTS.
I found that if the file is large, such as 3.1 GB, there will be errors. If I use a smaller file ,such as 1.1 GB, then the test is normal.

[2020-07-07 08:01] kring commented on #547
Node.js is unfortunately unable to allocate a buffer larger than 2GB, no matter how much memory you have.
https://nodejs.org/api/buffer.html#buffer_buffer_constants_max_length
😧

With a 3.1GB file, you _may_ be able to work around this by splitting your glTF into multiple buffers. For example, put different attributes in different buffers.

[2020-07-07 08:52] lantsang commented on #547
Wow! that's it. Really appreciate it, you saved my life :)

[2020-07-07 08:52] #547 closed

[2020-07-07 08:55] lantsang commented on #547
Hi, lilleyse, a more friendly error message would have been better for this, how do you think?

[2020-07-07 09:14] kring commented on #547
I'm not sure we have much control over the error message, it comes straight from Node.js.

[2020-07-08 00:11] lantsang commented on #547
Hi, kring, thank you for the message, that's enough for it. :)

[2020-07-08 16:12] josh-wheeler-arup opened #549 "Error: Draco encoding failed."
Error when trying to run a Draco compression on a large(ish) gltf file (60mb).

`node node_modules/gltf-pipeline/bin/gltf-pipeline.js -i data/biggertest.gltf -o data/draco.gltf -d=true --draco.compressionLevel=10 --stats

Error
    at new RuntimeError (/home/josh/development/cern-dt/cern-dt-api-ifc/node_modules/cesium/Build/CesiumUnminified/Cesium.js:6788:13)
    at /home/josh/development/cern-dt/

[2020-07-08 17:39] lilleyse commented on #549
It's possible, especially if other models were working. Are you able to share the glTF so we can confirm?

[2020-07-08 17:41] josh-wheeler-arup commented on #549
Is there any way to privately send you the file? I'm working with a private client, so it would be great not to publicly expose the gltf.

[2020-07-08 17:54] lilleyse commented on #549
@josh-wheeler-arup you can send it to support@cesium.com.

CC @OmarShehata

[2020-07-08 18:01] josh-wheeler-arup commented on #549
ok, I've sent that through. Thanks for the promptness @lilleyse ! Much appreciated

[2020-07-08 19:14] lilleyse commented on #549
@josh-wheeler-arup interestingly it does not fail with the default compression level of 7.

[2020-07-08 19:50] josh-wheeler-arup commented on #549
@lilleyse hmm strange. I just tried running it again with the default level (just a -d flag) and it still doesn't work for me. I'm still getting the `message: 'Error: Draco encoding failed.'` error message.

[2020-07-13 08:30] josh-wheeler-arup commented on #549
@lilleyse just checking if you have any further updates on this issue?

[2020-07-13 12:58] lilleyse commented on #549
@josh-wheeler-arup sorry no updates yet

[2020-07-13 21:53] lilleyse opened #551 "Integrate gltfpack for mesh and texture compression"
[meshoptimizer](https://github.com/zeux/meshoptimizer) is a library for optimizing and compressing models. It includes a tool [`gltfpack`](https://github.com/zeux/meshoptimizer/tree/master/gltf) that applies all the optimization routines automatically to a glTF. The two compression extensions that be can chosen from are [`KHR_mesh_quantization`](https://github.com/KhronosGroup/glTF/tree/master/ext

[2020-07-14 01:10] zeux commented on #551
`-cc` option should be fine to use as a default instead of `c`, gltfpack may drop the distinction long term.

`-c`/`-cc` is complementary to `gltfpack.quantize`, it's recommended to use both (`-c` without quantization currently doesn't produce high compression ratios; this might change in the future, although it's unlikely to), because of this gltfpack defaults to quantization. I'd recommend defau

[2020-07-14 02:06] lilleyse commented on #551
@zeux maybe an enum works better here:

* Optimizations only, lossless (`-noq`)
* Optimizations + quantization (no options)
* Optimizations + quantization + compression (`-cc`)

Yes, definitely of interest.

[2020-07-14 19:08] donmccurdy commented on #551
I'd be interested in picking up `EXT_meshopt_compression` in [glTF-Transform](https://gltf-transform.donmccurdy.com/) as well, and a JS API would certainly help with that. Or WASM is fine too, as long as it runs both in the browser and in Node.js.

I think my one complaint with the current gltfpack API (for this purpose) is that it does everything by default. For an integration in something like g

[2020-07-17 07:27] mikejernil commented on #548
@lilleyse The files are for a private client. Can I send it to you by mail?

[2020-07-17 08:47] mikejernil commented on #548
@lilleyse I saw your response in the other issue. I ave mailed the glb file to https://github.com/CesiumGS/gltf-pipeline/issues/548 . Please take a look and let me know.

[2020-07-24 22:11] Christopher-Hayes opened #554 "Error: No valid exports main found for gltf-pipeline/node_modules/cesium"
Getting this error when I try to run `gltf-pipeline`.

[code]
**Versions:**
Node: v13.2.0
NPM: v6.14.5
OS: Ubuntu 20.04 LTS

I only just installed `gltf-pipeline`, NPM seemed to install without issue:

[code]

Should I look into trying to install this cesium module?

[2020-07-25 13:13] hamzakhuswan commented on #549
@lilleyse I have the same issue any update yet?

I am converting a glb file to gltf, then trying to converting to it to draco gltf. But is there where I see the same error that is above.

I am using this as command line tool, on windows.

[2020-07-27 11:35] lilleyse commented on #554
@Christopher-Hayes can you try a newer version of Node? I get the same error in 13.2.0 but not in 13.7.0 or above.

[2020-07-27 11:39] Christopher-Hayes commented on #554
Upgrading to 13.7.0 fixed it, thanks!

[2020-07-27 11:39] #554 closed

[2020-07-29 00:59] lilleyse commented on #549
@josh-wheeler-arup @hamzakhuswan

Often the cause of the problem is models with very small or degenerate triangles. There's not much we can do from the gltf-pipeline side. You might have more luck opening an issue in https://github.com/google/draco/.

[2020-08-13 15:06] vorg opened #555 "Draco compression combines bufferViews?"
Conversion to draco seems to combining buffer views with vertex and indices data to one buffer view in some cases. Which is against the spec.

https://github.com/KhronosGroup/glTF/tree/acb8b62693691566f8241c2e3b0cad2db16873cb/specification/2.0#buffers-and-buffer-views

I've run it on couple of meshes and one had same number of bufferViews, one had one less after compression and my point cloud whic

[2020-08-13 17:42] vorg commented on #555
I think i misunderstood draco extension and the actual data should be read from primitive/KHR_draco_mesh_compression not the normal accessors.

[2020-08-13 17:42] #555 closed

[2020-08-27 10:14] buptzqr opened #556 "After compression I use the compressed gltf to build my b3dm file,but can not loading in Censium"
![Screenshot from 2020-08-27 18-13-21](https://user-images.githubusercontent.com/45389498/91428636-13e68d80-e891-11ea-8d36-49f9c88a038b.png)

[2020-08-30 19:39] Aarbel opened #557 "Question: Does any company provides this converter as an API as a Service ?"
Hi @cesiumgs-admin

Thanks a lot for this beautiful library !

I don't want to build my own servers and run this code on it, manage the scalability etc..., do you know an API as a service to use it ? (of course a paying one)

Thanks a lot for the tips !

[2020-08-31 23:27] OmarShehata commented on #557
@Aarbel you can Cesium ion for this! See: https://cesium.com/ion/. You can host a model as a glTF after running it through gltf-pipeline, or if you have large models you can tile them into 3D Tiles.

Let me know if this works for you. If you have any follow up questions I'd post in the Cesium community forum: https://community.cesium.com/.

[2020-08-31 23:27] #557 closed

[2020-09-01 07:32] Aarbel commented on #557
@OmarShehata which kind of files can we convert with Cesium ? UI not really clear to see what we can do ! Thanks a lot

[2020-09-01 08:01] OmarShehata commented on #557
There's a good reference on supported file types here: https://cesium.com/docs/tutorials/uploading/. If you have questions about your specific data or have a suggestion, please [post on the community forum](https://community.cesium.com/).

[2020-09-01 10:29] Aarbel commented on #557
![image](https://user-images.githubusercontent.com/25119847/91839068-bb2b4200-ec4e-11ea-94a7-8200f97c9136.png)

Where can i find Draco conversion ?

Do you also plan to support ifc conversion to gltf ?

[2020-09-01 16:22] donmccurdy commented on #427
FWIW, I ended up implementing this myself: https://github.com/donmccurdy/glTF-Transform/blob/master/packages/lib/src/partition.ts

[2020-09-01 16:22] donmccurdy commented on #476
Ended up implementing this myself: https://github.com/donmccurdy/glTF-Transform/blob/master/packages/lib/src/dedup.ts

[2020-09-01 16:22] #476 closed

[2020-09-05 22:47] lilleyse commented on #556
@buptzqr could you see if it works in other engines like ThreeJS: https://gltf-viewer.donmccurdy.com/

Also if you're able to share the original model that would be helpful.

[2020-09-07 01:26] buptzqr commented on #556
@lilleyse thanks for your reply.  Due to some reason, I can't share my model. My project was based on Censium so I can't change the engines. I also tried the workaround that you gave in https://github.com/CesiumGS/3d-tiles-validator/issues/147, but it seems I lost too much medadata. I noticed that you said you were getting very close to merging the gltf-pipeline 2.0 branch into master, but I got t

[2020-09-07 01:36] buptzqr commented on #556
@lilleyse I used gltf-pileline to compress my gltf file. It was ok when I used https://gltf-viewer.donmccurdy.com/ to show the compressed gltf file. Then I read the compressed gltf file's data in binary mode to build my b3dm file. Finally I got the error as I mentioned above. Am I doing something wrong?

[2020-09-15 09:55] liuyu-struggle commented on #546
Hello, has this problem been solved? I also have the same problem. My node version is 8.11.4

[2020-09-15 10:03] liuyu-struggle commented on #546
![image](https://user-images.githubusercontent.com/37584392/93197050-c4073200-f77d-11ea-96f3-465b10474669.png)

[2020-09-15 11:27] liuyu-struggle commented on #546
@zaaakk @lilleyse

[2020-09-15 13:28] lilleyse commented on #546
@liuyu-struggle could you try the latest Node 12 release? https://nodejs.org/dist/latest-v12.x/

[2020-09-17 15:06] verybigzhouhai opened #558 "about cesium_primitive_outline extension"
Hi，
   this tool support cesium_ primitive_ outline extension ?
  I provide a gltf with cesium_primitive_outline extension. After using the -d option to  gltf, the new gltf file does not contain the cesium_primitive_outline extension.
thanks!

[2020-09-29 18:49] Algorush commented on #427
Hello!
Can anyone please tell me, does the GLTF 2 standard provide for multiple bin files for one GLTF?

[2020-09-29 19:00] emackey commented on #427
@Algorush This kind of question is better suited for the Khronos Forums or Stack Overflow, rather than at the bottom of an old closed issue on some project's issue tracker.

That said, glTF comes in different forms.  The GLB form is a binary bundle (`*.glb`) that embeds a single buffer, with all needed binary data rolled into it.  But the other form of glTF (`*.gltf`) allows references to external

[2020-10-05 09:58] Aarbel commented on #557
@OmarShehata ?

[2020-10-05 12:33] OmarShehata commented on #557
@Aarbel please post your question to the Cesium forum (https://community.cesium.com/) so others in the community can see the answers/contribute to the discussion.

[2020-10-10 08:09] samevision opened #559 "Gltf-Pipeline in Browser"
Hello,

I try to include gltf-pipeline in a react app. So I browserified it: https://wzrd.in/standalone/gltf-pipeline@latest

Unfortunately it throws a lot of errors:

[code]

Is it anyhow possible to do that?

Best

[2020-10-29 08:38] praptoumache opened #560 "exclude specific meshes from being compressed"
Hi there,

we are using the pipeline a lot and getting awesome results with it (filsize wise).
only issue that we have...
some models have joined meshes - small objects joined over a large area.
those are getting handled like a big mesh and the result lead to artefacts in the model.

is there a way to exclude meshes from being processed?

Best regards

[2020-11-19 23:12] mazerab commented on #522
Hello, curious to hear if anyone has come up with a type definition file yet. Thank you!

[2020-11-23 16:33] markschlosseratbentley opened #564 "Has texture compression support been removed?"
The latest version of the README for this tool no longer has any mention of the --texcomp texture compression options which were mentioned in this blog post: https://cesium.com/blog/2017/02/06/texture-compression/

Is this no longer supported by the gltf-pipeline tool?

Looking through the source, it seems like mentions of --texcomp were removed from the README when support for glTF 2.0 was first

[2020-11-23 16:43] lilleyse commented on #564
The texture compression code was removed during the upgrade to glTF 2.0 because at the time there wasn't a standard way to use compressed textures in a glTF and we didn't want to maintain the `image.extras.compressedImage3DTiles` object that we created for it, however some code did remain for handling assets that had used compressed textures. But as of https://github.com/CesiumGS/gltf-pipeline/pul

[2020-11-23 17:33] markschlosseratbentley commented on #564
Thanks for the explanation!

[2020-11-23 17:33] #564 closed

[2020-12-07 06:31] donmccurdy opened #565 "Consider making `-b` or `-s` the default?"
Defaulting to `.gltf` with embedded Data URIs causes some confusion with new users, who are confused when their model size increases by 20-30%. It came up with a new user on the three.js forums today, and https://github.com/KhronosGroup/glTF/issues/1915 includes some discussion of the issue. I've also seen this happen when users compare glTF to other formats, misrepresenting its efficiency.

Could

[2020-12-07 17:04] lilleyse commented on #565
Currently `-b` is inferred from the file extension, so a command like `gltf-pipeline -i box.glb` will create a file called `box-processed.glb` with embedded resources.

I'm not sure if embedded data should be opt-in necessarily, but maybe the output should mirror the input, so a file coming in with separate resources should save those as separate resources in the output.

[2020-12-07 17:28] donmccurdy commented on #565
Ok, thanks! That could work as well. Although if the input is `.glb` and the output is `.gltf`, I'd still encourage you to consider choosing separate resources instead of increasing the file's size and parsing time.

[2020-12-08 02:59] ankushranka opened #566 "Unable to convert to glb"
It throws the error:  Unexpected token g in JSON at position 0
But the sample file converts on https://gltf.insimo.com/

Attaching sample file for help:
[STACC_V1_040_276_280_300.gltf.zip](https://github.com/CesiumGS/gltf-pipeline/files/5656555/STACC_V1_040_276_280_300.gltf.zip)

[2020-12-08 14:19] lilleyse commented on #566
It looks like the .gltf file is actually a .glb file. If you rename the file to `STACC_V1_040_276_280_300.glb` it should work.

Currently the CLI tool for gltf-pipeline only looks at the file extension when determining the type rather than reading the file header. It looks like the [glTF Validator](https://github.khronos.org/glTF-Validator/) does the same thing and will show an error when the file

[2020-12-08 22:24] twastvedt commented on #525
I've had very preliminary success creating an executable with pkg. Here are the changes I made: https://github.com/CesiumGS/gltf-pipeline/compare/master...twastvedt:master. Then I can run, for example, `npx pkg -t win-x64 .` to get an exe. I've only tested this with one glb file so far, so I have no idea whether it is complete. I'll report back as I test further.

I'm also happy to make a PR from

[2020-12-09 15:53] emackey commented on #565
@lilleyse Generally what we've seen is there are two flavors of glTF that work well for most people:

* Files with `.glb` extension that have all resources included in the single binary chunk, with no external references, and no DataURIs.
* Files with `.gltf` extension that avoid all DataURIs and reference only local (same folder or child) resources by named URI.

Projects like [gltf-import-export

[2020-12-12 00:32] zeux commented on #565
[gltfpack](https://github.com/zeux/meshoptimizer/tree/master/gltf) does the same; earlier versions supported .glb with external references as an output but it ended up being confusing for everyone involved. This decision is made automatically based on output extension now, which is nice & simple, and all input data URIs are repacked into the actual buffers.

[2020-12-15 10:33] gonnavis opened #567 "FeatureRequest: Decompress Draco compressed file."
I want to decompress gltf/glb files because Blender can only import uncompressed files.
I did not find a decompression command in your tool. Now I can only decompress through the threejs editor, it's a bit troublesome.
Could you please add decompress function to your cli tool?

[2020-12-15 13:57] lilleyse commented on #382
Also requested in https://github.com/CesiumGS/gltf-pipeline/issues/567

[2020-12-15 13:59] lilleyse commented on #567
@gonnavis we're tracking this in https://github.com/CesiumGS/gltf-pipeline/issues/382 so I'll close this as a duplicate. Thanks for the suggestion, I included a link to this issue there.

[2020-12-15 13:59] #567 closed

[2020-12-16 15:22] luca-viggiani opened #568 "no output file when using -d"
I'm trying to add Draco compression to my model like this:

```gltf-pipeline -i ldg.gltf -o ldgdraco.gltf -d```

But all I get is this output in terminal, no output file is saved:
```5395712```

[2020-12-16 15:24] lilleyse commented on #568
@luca-viggiani are you able to share the glTF model?

[2020-12-16 21:19] emackey commented on #382
Draco decompression is in development for a future version of Blender here: https://github.com/KhronosGroup/glTF-Blender-IO/pull/1268

[2020-12-17 07:59] luca-viggiani commented on #568
Unfortunately not (at least publicly) because it's restricted content. However I managed to convert it by adding ```--draco.quantizeTexcoordBits 0```
I tried all the other setting, also from Blender while exporting and using compression, and in both cases ```quantizeTexcoordBits``` must be 0, any other value crashes gltf-pipeline or Blender.
Just to be clear, I've tried:

- exporting directly from

[2020-12-19 14:51] lappy4711 opened #569 "Draco compressed output looks bad in later versions"
We have discovered that draco compression looks broken if we don't lock the combination of gltf pipeline and draco3d to 2.1.9 and 1.3.4. Versions after that looks bad and broken, e.g when compressing streamlines exported from Paraview. I have attached outputs and source data. I noted that version 1.3.6 of draco3d contains "Changed quantization defaults" and it seems that gltf pipeline 2.1.10 conta

[2020-12-20 20:55] lilleyse commented on #569
Try setting the position bits to 14 which was the previous default:

[code]

[2020-12-20 21:51] lappy4711 commented on #569
--draco.quantizePositionBits 14 seems to fix it, thank you. Care to explain?

[2020-12-20 23:41] lilleyse commented on #569
Draco works in part by quantizing the space into a grid and clamping positions to that grid, and the position bits determines the resolution of the grid and overall lossiness of the compression. In your model since the vertices are pretty close to one another the default value of 11 bits causes positions to collapse onto one another and look worse. It's a tradeoff of file size vs. quality.

[2021-01-04 21:16] echadwick-wayfair opened #570 "Incompatible with KHR_materials_variants?"
Compressing a model with variants seems to create a malformed output file?

Starting with the GLB from here: [https://github.com/KhronosGroup/glTF-Sample-Models/blob/master/2.0/SheenChair/README.md](https://github.com/KhronosGroup/glTF-Sample-Models/blob/master/2.0/SheenChair/README.md)

`gltf-pipeline -i SheenChair.glb -o SheenChair-draco.glb -d`

Babylon.js sandbox fails to load the output, with

[2021-01-23 05:16] sunyonglincanada opened #571 "Draco compressed output looks different compared to the original one"
Hi there,

I've tried to compress the original glb file but some tiles are missing when spinning the compressed output. Here is the codepen - https://codepen.io/sunyonglincanada/pen/MWjOOJZ

I've tried the same way that mentioned in https://github.com/CesiumGS/gltf-pipeline/issues/569 but it did not work. Any ideas to fix this issue? Thanks in advance!!

[2021-01-25 19:06] br-matt commented on #506
Just following up on that #491 linked. It looks like KTX2 lost the battle here: https://github.com/KhronosGroup/glTF/pull/1612 and `KHR_texture_basisu` going to stay.

Support for this would be great!

[2021-02-03 22:27] donmccurdy commented on #460
FYI on https://github.com/KhronosGroup/glTF/issues/1252#issuecomment-771358688. If you're comfortable using WASM in gltf-pipeline, this could be added with https://github.com/donmccurdy/mikktspace-js.

[2021-02-03 22:27] #460 closed

[2021-02-16 17:19] Blocovin opened #574 "Output glb contains more vertex (+48%) with draco compression."
Hi,

We convert [this glb file](https://fromsmash.com/uS3iV4l51U-ct) with `gltf-pipeline -i file.glb -o output.glb -b -d`
And we got problem, output glb contains more vertex (+48%) than input glb.

Input glb => 7 932 745 vertex
Output glb => 11 744 221 vertex

Does anyone have an explanation ?

[2021-03-03 16:06] Blocovin opened #575 "Very long glb compression time"
Hi,

We compress glb files with draco with gltf-pipeline :
`gltf-pipeline -i file.glb -o output.glb --binary --draco.compresssMeshes --draco.quantizePositionBits 16 --draco.unifiedQuantization true --draco.compressionLevel 10`

With [this glb file](https://fromsmash.com/foiRaO-eeG-ct), draco compression took 45 min.
With [this glb file](https://fromsmash.com/1kjWyKmxlq-ct), draco compresion took 2

[2021-03-17 12:50] Blocovin commented on #574
We found answer: https://github.com/google/draco/issues/71

Another explanation (p15) : https://tuprints.ulb.tu-darmstadt.de/14189/1/vonBuelow-2017-BA.pdf

[2021-03-17 12:50] #574 closed

[2021-03-23 23:41] nordskill opened #576 "encoderModule.Encoder error when converting a glTF to Draco glTF"
Hello,
I've got an issue with converting glTF to Draco glTF, which I didn't have before.
When I'm trying to convert model using `gltf-pipeline -i model.gltf -o modelDraco.gltf -d` command I get this error:
[code]

But around 2 years ago I was converting the same exact model with the same command and it worked as expected.
What have changed since that time: node.js version & gltf-pipeline version u

[2021-04-04 23:49] javagl opened #577 "Invalid byte stride computed for certain assets"
According to the [specification, the `byteStride` must always be `>=4`](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#bufferviewbytestride). This does not match the result of [https://github.com/CesiumGS/gltf-pipeline/blob/bf199a70da5ab9da3d42d75b1d5e26e652859e58/lib/addDefaults.js#L55](`getAccessorByteStride` in `addDefaults`).

I **think** that the following test, to be adde

[2021-04-05 17:22] lilleyse commented on #577
Can confirm this is a problem, not a problem with `getAccessorByteStride` but a problem with the data.

Some older 3D Tilesets used `UNSIGNED_SHORT` batch ids before glTF had a 4-byte requirement for byte stride. This could be fixed in `updateVersion` by creating a new buffer view and adding padding between batch id elements.

Or maybe the issue can be fixed in https://github.com/CesiumGS/3d-tiles

[2021-04-05 17:58] javagl commented on #577
That's another dimension of the difficulty.

On the one hand, it's good to know that `upgradeTileset` should be able to make such an asset valid, but ... I wonder how: I originally encountered this invalid byte stride *exactly* in an asset that was *generated* with `upgradeTileset`.

Further fragments of my mental model:

- The 3d tiles spec does not *explicitly* name any type requirements for the

[2021-04-08 09:07] loooog commented on #382
Looking forward to see the function

[2021-04-13 07:45] ua4192 opened #579 "index order not preserved"
Hi.

I have a big probelm with gltf-pipeline.

I use this convertor to convert my models to GLB with draco compression.
Everything works fine but the index order I have set on my models is not preserved after conversion.

I need to preserve index order because my models are composed by many individual other models (merge).
The point is that before exporting the scene I sort the models to be merged

[2021-04-19 14:54] ua4192 commented on #579
May be I am only person with this problem?

[2021-04-20 01:23] donmccurdy commented on #579
@ua4192 I believe this is an effect of the (higher compression) edgebreaker compression method. You can disable that and use sequential compression with the `--draco.compressionLevel=0` option, which should preserve index order.

[2021-04-21 15:24] ua4192 commented on #579
Hi.

Many thanks for the information.

Do you know what more or less will be the increment of the size of glbs comparing wusing --draco.compressionLevel=10?

Many thanks in advanced.

[2021-04-21 15:34] donmccurdy commented on #579
The file size will be higher (less compression) with level 0 than with level 10, but it's hard to say how much higher. Reordering vertices allows Draco compression to be more effective.

[2021-04-22 07:50] peterreeves opened #581 "More detailed statistics"
I have some GLBs that I'm trying to optimize. Unfortunately I can't use draco compression because the draco decompressor itself is too big and too slow to include in the website I'm building.

Running `--stats` tells me the "Total byte length of all buffers", but I would like more of a breakdown as to which assets are causing most of the bloat. Even just by category (e.g. textures + meshes + metad

[2021-04-22 21:23] dangerski opened #582 "upgrade to Draco 1.4.1"
draco3d in npm is now 1.4.1

[2021-04-27 07:05] alinaiim opened #583 "unrecognized file extension """
I have a glb file that I'm trying to apply draco compression to. When the file is on the desktop the compression works perfectly.
But I have a resources folder on the machine and when I type the same command it gives an error
unrecognized file extension ""
Which is weird because I am not changing the files(or the extensions) on the resources directory.

I don't know if this is a windows error or a

[2021-05-04 09:33] #583 closed

[2021-05-04 09:34] alinaiim commented on #583
stopped giving me the error once I removed spaces from folder names

[2021-05-06 11:58] feili2 opened #584 "black artifacts after compression"
Hi Guys!
Unfortunately I have some black artifacts with some models (occurs more with curves) that I can't get away with even with various settings ... Somebody already had this problem and was able to solve it ...

here
https://discourse.threejs.org/t/normal-map-artifacts-draco-compression/5886
or here
https://github.com/CesiumGS/gltf-pipeline/issues/451

but unfortunately it doesn't help me at a

[2021-05-14 08:02] cansik opened #586 "File size is greater than 2 GB - ERR_FS_FILE_TOO_LARGE"
If you want to convert files that are larger than 2 GB the script fails:

[code]

Would it be possible to increase this limit? Maybe by using streams instead of reading the full content of the glb?

[2021-05-17 03:49] JackKaiXing opened #587 "uncompressed gltf/bin"
Hello, is there methods or commands to uncompressed `draco gltf/bin` files to `general gltf/bin`files.

Thanks.

[2021-05-18 01:23] peterreeves commented on #581
That looks much more like what I'm looking for. Thanks for the link.

[2021-05-18 01:23] #581 closed

[2021-05-26 07:43] #587 closed

[2021-05-26 07:43] JackKaiXing commented on #587
https://github.com/KhronosGroup/glTF/issues/1983

[2021-06-04 08:34] passiomz opened #589 "open 'undefined'"
Unhandled rejection Error: ENOENT: no such file or directory, open 'undefined'
    at Error (native)

[2021-06-18 05:02] AvidDrawer opened #592 "Can we refine the build instructions?"
I installed the Node.js as mentioned and installed gltf-pipeline using the -g flag.

1. For subsequent operations from command line, I had to prefix the commands in gltf-pipeline.js with "node" for it execute. Without the node prefix, it simply opens .js file in my text editor.

2. None of the dependencies are installed along with gltf-pipeline. They need to be installed manually **without** the -

[2021-07-06 08:07] Ben-Mack commented on #575
When my models contains nearly ten million tris, gltf-pipeline could be stalled for days (on a Ryzen 5950x).

Can we ultilize the c++ encoder to have the most of the speed?

[2021-07-07 01:39] Ben-Mack commented on #582
+1 for this

[2021-07-23 00:01] #582 closed

[2021-08-09 12:04] Dmitry-Romanchuk-Unilimes commented on #382
still nothing?

[2021-08-20 15:02] getinthedamnbox opened #601 "Increment version number to 4.x.x for hasExtension -> usesExtension"
We renamed `hasExtension` to `usesExtension` here: https://github.com/CesiumGS/gltf-pipeline/commit/154858625ad110059b64a8efdb0cb2717cf791bf

I think this should've prompted us to increment the version number to 4.x.x, right?

[2021-08-20 15:40] lilleyse commented on #601
`hasExtension`/`usesExtension` actually isn't part of the public API and didn't warrant a version bump. The problem is we use non-public API functions in some of our internal repos.

The public API is here: https://github.com/CesiumGS/gltf-pipeline/blob/main/index.js

[2021-08-20 15:47] getinthedamnbox commented on #601
Got it, thanks. Closing this.

[2021-08-20 15:47] #601 closed

[2021-09-13 20:51] timmmeh opened #602 "Error converting Lantern.gltf to .glb"
Error:
[code]
I'm tracking down an issue unrelated issue with multiple primitives so I tried to convert the Lantern.gltf (has multiple primitives in 1 mesh) to a .glb and I got the crash above. If I manually remove the extra primitive, so that there is just one primitive per mesh, the conversion succeeds. Weird.

repro
`gltf-pipeline -i  ~/repros/glTF-Sample-Models-master/2.0/Lantern/glTF/Lantern.

[2021-09-13 20:53] timmmeh commented on #602
re-synced the file, all good.

[2021-09-13 20:53] #602 closed

[2021-10-07 12:54] pawel-marciniak opened #603 ""Blob is not defined" error when using as CLI tool"
Hi,

I installed this package as global tool, but when I'm trying to convert .glb to .gltf there is an error:
[code]

I'm using Node v16.10.0 on MacBook Air M1

[2021-10-11 21:09] #603 closed, assigned to nobody

[2021-10-21 14:54] Jeggery commented on #545
Yes, that's a good idea. I need that functionality

[2021-10-23 00:08] ylin6 opened #606 "Im using gltf-pipline after getting a gltf buffer from threejs-node-exporter but no compression is done."
I'm exporting a model from ThreeJS in node using https://www.npmjs.com/package/@injectit/threejs-nodejs-exporters

and then running that through gltf-pipeline in node. However, I am not seeing a decrease in size from the outputted file and the stats log:

[code]

However, if I save the output from threejs-nodejs-exporter and run that saved file with the gltf-pipeline cli tool, i get a much smaller

[2021-11-08 02:38] wl-dn opened #607 "convert gltf to dracogltf,why dracogltf size is 1kb?"
![image](https://user-images.githubusercontent.com/63225203/140675761-d4750da2-55f7-4eaa-9956-30e88919345f.png)

[2021-11-18 00:00] donmccurdy commented on #551
Following up here – @zeux has published a [meshoptimizer](https://www.npmjs.com/package/meshoptimizer) JS API and NPM package. I've integrated that (both encode and decode) with glTF-Transform, in case the code is helpful as a reference:

- [packages/extensions/src/ext-meshopt-compression](https://github.com/donmccurdy/glTF-Transform/tree/main/packages/extensions/src/ext-meshopt-compression)

Nota

[2021-12-01 22:15] ptc-alhill commented on #382
Any chance of getting this pull request [#572](https://github.com/CesiumGS/gltf-pipeline/pull/572) reviewed?

[2021-12-08 06:16] Kcin1993 opened #608 "Bus error: 10 When darco compression"
When I run draco compress. It shows the `Bus error: 10`

Here is the script, I ran on the terminal. My node version is v16.13.0.

`gltf-pipeline -i room.glb -o compress.gltf --draco.compressionLevel=10`

https://user-images.githubusercontent.com/8435927/145157853-077642d5-7933-4629-bee2-75488768541c.mov

If it is required to provide the glb file please let me know the email address.

Thanks a lot.

[2021-12-08 12:40] lilleyse commented on #608
Interesting, I haven't seen that before.

@Kcin1993 could you send the glb to support@cesium.com and mention this issue in the email?

[2021-12-09 09:39] Kcin1993 commented on #608
@lilleyse Thanks. The email was sent. 😃

[2022-01-17 16:22] hybridherbst opened #609 "Specifying `--draco.quantizePositionBits` greater than 20 breaks the resulting file"
Processing the attached file with
[code]
doesn't produce any errors, with a seemingly valid resulting file.

But the file does then not load with any draco decoder I tried, always producing errors similar to this (from THREE):
![20220117-171558-Y1Sj-chrome_CxkJ](https://user-images.githubusercontent.com/2693840/149805427-6f6ea21d-ffbb-4f30-9b58-881e33d9dfac.png)

(and fails in babylon, three, mode

[2022-04-11 08:54] liinnjohansson opened #610 "Unable to convert gltf to glb"
I am trying to convert a gltf-model to glb with the latest Node version (17.9.0). I get the error below when running this command line in directory containing the gltf-model:

`gltf-pipeline -i sphere.gltf -o sphere.glb`

`Error
    at new RuntimeError (C:\Users\flisa\AppData\Roaming\npm\node_modules\gltf-
    pipeline\node_modules\cesium\Build\CesiumUnminified\Cesium.js:7121:13)
    at fileURLToP

[2022-04-11 22:28] lilleyse commented on #610
It seems like it's unable to load a uri in your gltf. Based on the trace it's hitting this error:

[code]

Does this give any ideas? Could you post your gltf?

[2022-04-12 06:21] liinnjohansson commented on #610
Thanks for the reply!
That sounds about right, I'll check with my colleague who made the model.

But if you have the time, it would be great if you could check as well

[Sphere_gltf.zip](https://github.com/CesiumGS/gltf-pipeline/files/8470057/Sphere_gltf.zip)
!

[2022-04-12 11:26] lilleyse commented on #610
Thanks for posting the glTF. The problem is here:

[code]

Try using a relative path instead.

[2022-04-12 11:59] liinnjohansson commented on #610
Great!
Now it works perfectly, thanks!

[2022-04-12 15:23] #610 closed

[2022-04-23 03:30] saifullahakhtar opened #611 "Having issue while compression"
I'm trying to convert and compress my glb model using this command `gltf-pipeline -i original.glb -o vegas.gltf --draco.compressionLevel=10` but in return, I'm having these numbers `6109768` rather than output file.

https://user-images.githubusercontent.com/47953075/164873511-1188c355-81e1-441f-8a71-3c95ae665c11.mov

[2022-05-04 12:14] hv-pul commented on #611
Same issue here (on a M1-driven Macbook Air, tried different Node version but that did not help).

[2022-05-09 19:01] expenses opened #613 "Draco compression tries to use the fetch api to load the wasm blob off the filesystem and fails with `ERR_INVALID_URL"
Full error:
[code]

[2022-05-12 22:23] danvas commented on #613
Reproducible:

In debugg.js script:
[code]

[code]

@expenses - Were you able to find a quick workaround? (For example, hardcode the path)

[2022-05-12 22:28] expenses commented on #613
No, I didn't look very hard into this. An easy workaround seems like it should be possible though.

[2022-05-12 22:42] lilleyse commented on #613
Seems to only happen in Node 18. Node 16 works fine. I tested draco 1.5.2 for both.

Assuming this problem isn't caused by gltf-pipeline in some way, could you submit to bug report to the [draco](https://github.com/google/draco) repo?

[2022-05-13 19:24] danvas commented on #613
Done: https://github.com/google/draco/issues/888

[2022-06-20 17:39] schwarzsky opened #614 "Meshes are corrupted"
![chrome_sKt4pxMHjl](https://user-images.githubusercontent.com/25959527/174654300-88390654-66fb-48a9-9ceb-8f253929d94e.png)
As you can see, you can saw the back of the meshes. This is not supposed to be happen. Any idea? Tried lowering compressionSize.

[2022-06-20 17:44] schwarzsky commented on #559
I believe you can't run an dracoCompression from browser client. I suggest you to use nextjs api routes for compression and send it back via response to the client.

[2022-06-20 18:41] lilleyse commented on #614
@schwarzsky could you post the full command? Is this just a problem with Draco compression?

[2022-06-20 18:57] schwarzsky commented on #614
First used `npx gltf-pipeline -i SnowyTerrain.glb -d --draco.compressionLevel 10 -o Snowy.glb`
Then downed scale to 10 to 1.

I don't own the builds its not right to post GLB file but if you want it anyway i can get permission i think.

Also yes, this is a problem with Draco compression. Before compression model looks quite right. @lilleyse

[2022-06-20 23:43] schwarzsky commented on #614
Just used `--draco.unifiedQuantization` and solved the issue. Thanks!

[2022-06-20 23:43] #614 closed

[2022-07-25 07:33] shahidpiet7 opened #618 "gltf-pipeline is not recognized as an internal or external command, operable program or batch file."
I am getting following error in window 10 cmd when i run this command 'gltf-pipeline -i scene.gltf -o model.glb'. please help me to resolve this issue.
'gltf-pipeline' is not recognized as an internal or external command, operable program or batch file.

[2022-07-26 12:23] lilleyse commented on #618
@shahidpiet7 how did you install gltf-pipeline? If you installed it globally with `npm install -g gltf-pipeline` make sure that npm is also in your path: https://stackoverflow.com/questions/30710550/node-js-npm-modules-installed-but-command-not-recognized

[2022-09-28 15:38] jhosseeth opened #623 "Error: glTF model references separate files but no resourceDirectory is supplied"
When I use the code implementation as docs said
[code]
I get this error
`Error at new RuntimeError: glTF model references separate files but no resourceDirectory is supplied`

Reviewing the library code, I understood that it was mandatory to send a second options parameter to indicate where the folder with the GLTF model files was
[code]

Adding options param fixed my issue
`const { glb } = await